* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#000, #161616, #161616, #000);
}

header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;

}

header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #0ff100,
        0 0 1rem rgb(14, 221, 66),
        0 0 2rem rgb(36, 255, 91),
        0 0 4rem rgb(45, 127, 38),
        0 0 8rem rgb(45, 127, 38),
        0 0 9rem rgb(38, 127, 38),
        0 0 10rem rgb(38, 127, 42),
        0 0 14rem rgb(48, 127, 38),
        0 0 18rem rgb(53, 127, 38);
    font-size: 4rem;
}

.container {
    max-width: 30rem;
    width: auto;
    height: auto;
    max-height: 30rem;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.board {
    border: solid 0.4rem skyblue;
    width: 29rem;
    height: 29rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.quadrant {
    border: solid 0.2rem cadetblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.set {
    border: solid 0.1rem cadetblue;
    font-size: 2rem;
    color: transparent;
    background-color: whitesmoke;
}

.set::after {
    content: '0';
}

.number {
    border: solid 0.1rem cadetblue;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}


.buttons {
    width: 29rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.buttons button {
    color: #000;
    font-weight: 600;
    border: solid #fff 0.2rem;
    padding: 0.5rem 1rem;
}

.solve {
    background-color: #0ff100;
}

.clear {
    background-color: #f00;
}